body{
    height: 607px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
#title{
    margin:70px;
    font-size:45px;
    color: #051937;
}
#fram{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 450px;
    height: 150px;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    padding: 60px;
    border-radius: 80px;
    box-shadow:0px 8px 10px 4px #afabad;
    border:10px double pink ;
    margin-top: -25px;
}
#time-screen{
    display: flex;
    justify-content: center;
    background-color: white;
    width:200px;
    border-radius: 8px;
    background-image: linear-gradient(gray,pink);
    padding: 25px;
    align-self: center;
}
.tm{
    font-size: 30px;
    margin: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4b2438;
    font-weight: 700;
}
#btns-fram{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.btn{
    width: 120px;
    padding: 10px;
    border-radius: 15px;
    border: 0px;
    background-color: rgb(228, 228, 191);
    cursor: pointer;
}
#footer{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
p{
    color: aliceblue;
    opacity: 0.5;
}

@media (max-width:650px){
    #title{
        margin:70px;
        font-size:30px;
        color: #051937;
    }
    #fram{
        width:50%;
        margin-top: -25px;
    };
    #btns-fram{
        width:60%;
    }
    .btn{
        margin:5px;
    }
    p{
        overflow-wrap: break-word;
    }
}
@media (max-width:560px){
    body{
        height:600px;
    }
    #title{
        margin:50px;
        font-size:30px;
        color: #051937;
    }
    #fram{
        width:50%;
        margin-top: -25px;
    };
    #btns-fram{
        width:60%;
    }
    .btn{
        margin:5px;
    }
    p{
        overflow-wrap: break-word;
    }
}
